[Unit]
Description=Henlo backend service
After=network.target

[Service]
ExecStart=/usr/bin/docker-compose up
WorkingDirectory=/home/pi/henlo-backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
